@import url("./colors.css");
h1, h2 {
    color: var(--orange-2);
    font-size: 2rem !important;
}

footer{
    background-color: var(--blue-2);
}

.hover-footer:hover{
    color: var(--orange-2);
}
